/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
  }
  /* montserrat-500 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff'); /* Modern Browsers */
  }
  /* montserrat-600 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'); /* Modern Browsers */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
  }
  /* montserrat-900 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-900.woff') format('woff'); /* Modern Browsers */
  }

html {
    font-family:'Montserrat';
}

body {
    margin: 0 auto;
    min-width: 320px;
    font-family:'Montserrat';
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1770px;
    box-sizing: border-box;
    margin: 0 auto;
    /* padding: 0 45px; */
    
}

.header {
    /* padding: 5px; */
    width: 100%;
    max-height: 100px;
    text-align: center;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.subtitle {

}

.header__container {
    width: 100%;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media (max-width: 1024px)
.logo {
position: center;
 } */


.logo {
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
}

.logo:focus {
    outline: 3px solid blue;
}

.logo__img {
    display: inline-block;
    max-width: 224px;
    max-height: 72px;
}

.header__menu {
    display: flex;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 13px;
    max-width: 805px;
    background-color: #FFFFFF;
}

.header__list {
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-top: 3px;
    margin-right: 71px;
       
}

.header__list_item {
    margin-right: 86px;
}

.header__list_item:last-child {
    margin-right: 0;
}

.header__list_link {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
    transition: border-bottom .3s ease, color .3s ease;
}

.header__list_link:focus {
    outline: 3px solid blue;
}

.header__list_link:hover {
    border-bottom: 2px solid #FF9900;
    transition: border-bottom .3s ease, color .3s ease;
}

.header__list_link:active {
    border-bottom: 2px solid #E1670E;
    color: #E1670E;
    transition: border-bottom .3s ease, color .3s ease;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 30px;
    height: 23px;
    border: none;
    background-color: white;
}

.burger__item {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #333333;
}

.burger_exit {
    display: none;
    background-image: url(../img/X.png);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    padding: 0;
    width: 23px;
    height: 23px;
    border: none;
}

.header__btn {
    background-image: url(../img/ellipse.png);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    transition: background-image .3s ease;
}

.header__btn:hover {
    cursor: pointer;
    background-image: url(../img/ellipse-1.png);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    transition: background-image .3s ease;
}

.header__btn:active {
    cursor: pointer;
    background-image: url(../img/Ellipse-2.png);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    transition: background-image .3s ease;
}

.header__btn:focus {
    outline: 3px solid blue;
}

/*proect*/

.main {
    width: 100%;
}

.swiper-container {
    max-width: 1770px;
    max-height: 620px;
  }

.proect {
    position: relative;
}

.proect_slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.slide_1 {
    background-image: url(../img/proect.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide_2 {
    background-image: url('../img/brown-and-blue-glass-building-2093076.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide_3 {
    background-image: url('../img/apartment-apartment-building-architecture-building-323705.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
}

.swiper-pagination-bullet:focus {
    outline: 3px solid blue;
}

.proect__subtitle {
    position: relative;
    max-width: 842px;
    padding-top: 108px;
    padding-left: 76px;
    margin: 0;
    z-index: 2;
    font-size: 69px;
    line-height: 82px;
    font-weight: 900;
    color:#FFFFFF;
}

.proect__description {
    position: relative;
    padding-top: 24px;
    padding-bottom: 95px;
    padding-left: 77px;
    margin: 0;
    z-index: 2;
    max-width: 837px;
    min-height: 58px;
    font-size: 23.4581px;
    line-height: 29px;
    font-weight: 700;
    color: #FFFFFF;
}

.proect__form {
    position: relative;
    /* width: 41%; */
    padding-left: 81px;
    /* z-index: 2; */
    padding-bottom: 88px;
    
}

.proect__btn {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 27px 26px;
    z-index: 2;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF9900;
    transition: background-color .3s ease;
    border: none;
}

.proect__btn:hover {
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0.6);
    transition: background-color .3s ease;
}

.proect__btn:active {
    background-color: #E1670E;
    transition: background-color .3s ease;
}

.proect__btn:focus {
    outline: 3px solid blue;
}

/*about*/

.about {
    width: 100%;
}

.about__advantages {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.about__subtitle {
    padding-top: 100px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 49px;
    line-height: 59px;
    font-weight: 400;
}

.about__description {
    display: inline-block;
    max-width: 1235px;
    min-height: 192px;
    padding-top: 12px;
    margin: 0;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}

.about__advantages_item {
    background-image: url(../img/rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about__advantages-one {
    display: flex;
    align-items: center;
    padding-right: 68px;
    background: rgba(0, 0, 0, 0.5);
    
}

.about__advantages_item-wrap {
    width: 100%;
    padding-top: 444px;
}

.about__advantages_description {
    display: inline-block;
    max-width: 497px;
    padding-top: 41px;
    padding-bottom: 50px;
    padding-left: 52px;
    padding-right: 78px;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    color: #FFFFFF;
}

.about__link {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: solid 3px #FF9900;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 19px 34px;
    color: #FFFFFF;
    transition: background-color .3s ease;
}

.about__link:hover {
    cursor: pointer;
    background-color: #FF9900;
    transition: background-color .3s ease;
}

.about__link:active {
    cursor: pointer;
    background-color: #E1670E;
    transition: background-color .3s ease;
}

.about__link:focus {
    outline: 3px solid blue;
}

.about__advantages_wrap {
    padding: 0;
    margin: 0;
}

.about__advantages_wrap-item {
    position: relative;
    max-width: 100%;
    max-height: 295px;
    margin-bottom: 30px;
    border: solid 1px #CACACA;
}


.about__advantages_wrap-block1 {
    background-image: url(../img/group-1.png);
    background-repeat: no-repeat;
    background-position: 62px 68px;
}

.about__advantages_wrap-block2 {
    background-image: url(../img/group-2.png);
    background-repeat: no-repeat;
    background-position:  61px 50px;
}

.about__advantages_wrap-item:last-child {
    margin-bottom: 0;
}

.about__advantages_wrap-head {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.about__advantages_wrap-description {
    display: inline-block;
    max-width: 452px;
    padding: 65px 118px 72px 300px;
    margin: 0;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}

.about__advantages_img {
    position: relative;
    left: 7%;
    bottom: 75%;
}

.about__advantages_img-package {
    position: relative;
    bottom: 76%;
}

.about__advantages_img-settings {
    position: relative;
    left: -1%;
    bottom: 81%;
}

/* work*/

.work {
    padding-top: 100px;
}

.work__subtitle {
    margin: 0;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    color: #333335;
}

.work__list {
    display: flex;
    padding-top: 46px;
    padding-left: 0;
    margin: 0;
}

.work__list_item {
    /* font-size: 18px;
    line-height: 23px;
    color: #333335; */
    margin-right: 86px;
}

.work__list_item:last-child {
    margin-right: 0;
}

.work__list_btn {
    padding: 0;
    margin-right: 5px;
    border: none;
    background-color: #FFFFFF;
}

.work__list_btn-step {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333335;
    transition: color .3s ease;
}

.work__list_btn-step:hover {
    cursor: pointer;
    color: #FF9900;
    background-color: white;
    transition: color .3s ease;
}

.work__list_btn-step:active {
    cursor: pointer;
    color: #E1670E;
    background-color: white;
    transition: color .3s ease;
}

.work__list_btn-step:focus {
    outline: 3px solid blue;
}

.work__wrap {
    display: none;
    /* display: flex;
    justify-content: space-between;
    padding-top: 52px; */
}

.work__wrap__active {
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
}


.work__wrap_subtitle {
    padding-left: 3px;
    margin: 0;
    font-size: 24px;
    line-height: 21px;
}

.work__description {
    display: inline-block;
    max-width: 758px;
    max-height: 316px;
    padding-top: 6px;
    margin: 0;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}

.work__button_wrap {
    padding-top: 67px;
}

.work__btn {
    display: inline-block;
    /* width: 175px;
    height: 60px; */
    padding: 19px 38px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #FF9900;
    color: #FFFFFF;
    transition: background-color .3s ease;
}

.active {
    cursor: pointer;
    color: rgba(255, 153, 0, 0.6);
}

.work__btn:hover {
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0.6);
    transition: background-color .3s ease;
}

.work__btn:active {
    cursor: pointer;
    background-color: #E1670E;
    transition: background-color .3s ease;
}

.work__btn:focus {
    outline: 3px solid blue;
}

.work__link {
    display: inline-block;
    margin-left: 22px;
    padding: 19px 38px;
    box-sizing: border-box;
    border: 1px solid #333335;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #333333;
    transition: background-color .3s ease;
}

.work__link:hover {
    color: #FFFFFF;
    background-color: #666666;
    transition: background-color .3s ease;
}

.work__btn:active {
    color: #FFFFFF;
    background-color: #000000;
    transition: background-color .3s ease;
}

.work__btn:focus {
    outline: 3px solid blue;
}

.work__img {
    display: inline-block;
    flex: 0 1 50%;
    background-image: url(../img/rectangle-18.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work__img2 {
    display: inline-block;
    flex: 0 1 50%;
    background-image: url(../img/work__img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work__img3 {
    display: inline-block;
    flex: 0 1 50%;
    background-image: url(../img/work__img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work__img4 {
    display: inline-block;
    flex: 0 1 50%;
    background-image: url(../img/work__img4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work__wrap {
    
}

/*faq*/

.faq {
    padding-top: 100px;
    width: 100%;
}

.list_accordion {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.faq_accordion {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-top: 1px solid #CACACA;
    transition: .3s ease;
}

.list_accordion:last-child {
    border-bottom: 1px solid #CACACA;
}

.faq_accordion:hover {
    position: relative;
    border-top: 1px solid #FF9900;
    border-bottom: 1px solid #FF9900;
    transition: .3s ease;
    z-index: 1;
}

.faq__subtitle {
    margin: 0;
    font-size: 48px;
    line-height: 59px;
    font-weight: 400;
    color: #333333;
}

.faq__list {
    padding-top: 37px;
    padding-left: 5px;
    margin: 0;
    
}


.faq__list_item-text:hover  {
    color: #FF9900;
    transition: .3s ease;
}

.faq__list_item-text {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 39px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #333333;
}

.faq__list_item-description {
    max-width: 1003px;
    /* height: 366px; */
    margin: 0;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #333333;
}

.faq__list_img {
    position: relative;
    display: inline-block;
    margin: 30px 0 30px 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url(../img/rectangle-12.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: #ECECEC;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.faq_accordion:hover .faq__list_img {
    background-color: #FF9900;
    transition: .3s ease;
}

.faq_accordion:focus .faq__list_img {
    outline: 3px solid blue;
}

/* .faq__list_item:hover .faq__list_img {
    background-image: url(../img/rectangle-12.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background: #D2D2D2;
    transition: .3s ease;
    transform: rotate(45deg);
    min-width: 50px;
    height: 50px;
} */

.ui-state-active .faq__list_img {
    transform: rotate(45deg);
} 

/*footer*/

.footer {
    width: 100%;
    margin-top: 97px;
    background-color: #222222;
}

/* .footer__container {
    
    
} */

.footer__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 80px;
    
}

.footer__logo:focus {
    outline: 3px solid blue;
}

.footer__link {
    width: 317px;
}

.footer__list {
    padding-top: 7px;
    padding-left: 0;
    margin: 0;
}

/* .footer__list_item {
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
} */

.footer__list_item-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: #CACACA;
    transition: color .3s ease ;
}

.footer__list_item-link:hover {
    color: rgba(255, 153, 0, 0.6);
    transition: color .3s ease ;
}

.footer__list_item-link:active {
    color: #E1670E;
    transition: color .3s ease ;
} 

.footer__list_item-link:focus {
    outline: 3px solid blue;
}

.footer-subtitle {
    margin: 0;
    font-size: 48px;
    line-height: 59px;
    font-weight: 400;
    color: #CACACA;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    padding-top: 92px;
    padding-left: 0;
    margin-right: 85px;
}

.footer__social_icon:hover {
    transform: scale(1.1, 1.1);
}

.footer__social_icon:focus {
    outline: 3px solid blue;
}

.footer__social_icon-fb {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../img/fb.png);
}

.footer__social_icon-wk {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../img/wk.png);
}

.footer__social_icon-inst {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../img/instagram.png);
}

.footer__feedback {
    max-width: 576px;
    margin-left: 38px;
    padding-top: 8px;
}

.footer__form {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 5px;
    margin: 0;
}

.footer__form-item {
    max-width: 525px;
    height: 30px;
    padding: 14px 24px;
    margin-bottom: 25px;
    border: none;
    background-color: #414141;
}

.footer__form-item:focus {
    outline: 3px solid blue;
}

::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}


.footer__form-text {
    max-width: 525px;
    height: 124px;
    padding: 14px 24px;
    margin-bottom: 31px;
    background-color: #414141;
    border: none;
    resize: none;
}

.footer__form-text:focus {
    outline: 3px solid blue;
}

.footer__form_wrap {
    display: flex;
    align-items: center;
}

.footer__form-btn {
    display: inline-block;
    /* min-width: 275px; */
    /* height: 60px; */
    padding: 21px 62px;
    border: none;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    transition: background-color .3s ease;
    color: #FFFFFF;
    background-color: #FF9900;
}

.footer__form-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0.6);
    transition: background-color .3s ease;
}

.footer__form-btn:active {
    background-color: #E1670E;
    transition: background-color .3s ease;
}

.footer__form-btn:focus {
    outline: 3px solid blue;
}

.footer__form-chek {
    /* display: inline-block;
    color: #CACACA;
    margin-left: 23px; */
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.footer__form_chek-box {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-left: 5px;
    background-color: #FFFFFF;
}

.footer__form-chek-wrap {
    padding-left: 10px;
}

.footer__form-chek:checked + .footer__form_chek-box {
    background-color: #222222;
    background-image: url(/img/rectangle4.png);
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border: 2px solid #FFFFFF;
    transform: translateY(1px);
    

}

.footer__description {
    display: inline-block;
    width: 363px;
    /* height: 320px; */
    margin: 0;
    padding-top: 78px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #CACACA;
}

.footer__form-chek {
    
}

.footer__form-chek-text {
    margin-left: 25px;
    color: #CACACA;
}

@media (min-width: 1200px) 
    {
        .burger {
            display: none;
        }
    }

    @media (max-width: 1700px)
    {
        .container {padding: 0 45px; } 

        .header__list {margin-right: 50px;}

        .header__list_item {margin-right: 60px;}


        .about__subtitle { padding-top: 50px;}
        
        .about__advantages { 
            flex-direction: column;
        }
        .about__advantages_wrap { 
            margin-top: 30px;
        }
        
        .about__advantages_wrap-item {
            max-width: none;
        }

        .about__description {
            max-width: none;
        }

        .about__advantages-one {justify-content: space-around;}
        .about__advantages_description {padding-right: 0;}

        .about__advantages_item-wrap { width: 100%;}
        .about__advantages-one { justify-content: space-around;}
        .about__advantages_wrap-description {
            max-width: 70%;
            padding: 67px 0px 92px 250px;
        }
        .about__advantages_wrap-head { display: block;}

        .work__wrap_subtitle {padding-top: 30px;}

        .work__button_wrap {padding-top: 30px;}

        .work__img { 
            min-height: 465px;
            margin-top: 30px;
        }

        .work__img2 { 
            min-height: 465px;
            margin-top: 30px;
        }

        .work__img3 { 
            min-height: 465px;
            margin-top: 30px;
        }

        .work__img4 { 
            min-height: 465px;
            margin-top: 30px;
        }

        .work__button_wrap {
            text-align: center;
            padding-top: 0;
        }

        .footer__description {padding-left: 20px;}
      }
      

@media (max-width: 1400px)
{
    .footer__description { display: none;}
}

@media (max-width: 1200px)
  {
    /* .header__list {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        z-index: 5;
        background-color: #FFFFFF;
        transform: translateX(-101%);
    } */

    .header__menu {
        display: none;
    }

    .header__menu.is_active {
        display: block;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
        top: 0;
        padding: 50px 106px 80px 50px;
        z-index: 3;
        background-color: #FFFFFF;
    }

    .header__list {
        display: block;
    }

    /* .header__list.is_active {
        display: block;
        width: 264px;
        margin: 30px 0 0 0;
        padding: 100px 106px 150px 50px;
        z-index: 3;
    } */

    .burger_exit.on {
        display: block;
        padding-bottom: 80px;
    }

    .header__list_item {
        padding-bottom: 60px;
        margin-right: 0;
        text-align: start;
    }

    .container {
        padding: 0 50px;
    }

    .header {
        height: 100px;
    }

    .header__wrap {
        height: 100%;
    }

    .logo {
        height: 100%;
        padding: 0;
    }

    .logo__img {
        display: inline-block;
        width: 150px;
        height: 48px;
        padding: 26px 3px 26px 0;
    }

    .header__nav {
        width: auto;
        padding: 0;
    }


    /* .proect {
        background-image: url(../img/proect2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 668px;
        padding: 0;
    } */
    .proect__subtitle {
        padding: 160px 45px 0;
        font-size: 60px;
        font-weight: 800;
        line-height: 73px;
    }

    .proect__description {
        width: 658px;
        height: 48px;
        padding: 13px 0 0 45px;
        font-size: 20px;
        font-weight: 700;
        line-height: 24.38px;
    }

    .proect__form {
        padding: 95px 0 110px 45px;
    }

    .about__subtitle {
        padding: 58px 0 15px;
        font-size: 48px;
        font-weight: 400;
    }

    .about__description {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
    }
    

    .about__advantages {
        flex-direction: column;
        padding-top: 59px;
    }

    .about__advantages_item {
        display: inline-block;
        max-width: 100%;
        background-image: url(../img/rectangle.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about__advantages_item-wrap {
        width: 100%;
        padding-top: 469px;
    }
    
    .about__advantages_wrap {
        padding-top: 50px;
    }

    .about__advantages_description {
        padding: 40px 160px 46px 44px;
    }

    .about__advantages_wrap-item {
        /* max-width: 924px; */
        margin-bottom: 38px;
    }

    .about__advantages_wrap-description {
        padding: 67px 120px 72px 350px;
    }

    .about__advantages_wrap-block1 {
        background-position: 110px 75px;
    }

    .about__advantages_wrap-block2 {
        background-position: 110px 69px;
    }

    .container__work {
        /* max-width: 930px; */
        padding-top: 55px;
    }

    .work {
        padding-top: 0;
    }

    .work__wrap {
        flex-direction: column-reverse;
        padding-top: 51px;
        padding-left: 0;
    }

    .work__list {
        padding-top: 49px;
    }


    .work__description {
        max-width: none;
        max-height: 618px;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
    }

    .work__img{
        display: inline-block;
        flex: 1 1 45%;
        background-image: url(../img/rectangle-18.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .work__img2{
        display: inline-block;
        flex: 1 1 45%;
        background-image: url(../img/work__img2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .work__img3{
        display: inline-block;
        flex: 1 1 45%;
        background-image: url(../img/work__img3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .work__img4{
        display: inline-block;
        flex: 1 1 45%;
        background-image: url(../img/work__img4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .work__button_wrap {
        padding: 30px 0 0 0;
    }

    .work__link {
        display: inline-block;
        margin-left: 25px;
        padding: 19px 36px;
    }

    .container__faq {
        width: 100%;
    }

    .faq {
        padding: 0;
    }

    .faq__subtitle {padding-top: 52px;}

    .faq__list_item-text {
        font-size: 20px;
    }

    .faq__list_item-description {
        font-size: 14px;
        line-height: 26px;
    }

    .faq__list {
        padding-top: 35px;
        padding-left: 3px;
    }

    .footer {
        width: 100%;
        margin-top: 49px;
    }

    .footer__description {
        display: none;
    }

    .footer__social {
        margin-right: 85px;
    }

    .footer__feedback {
        /* max-width: 534px; */
        margin-left: 0;
        padding-top: 10px;
    }

    .footer__form-item {
        max-width: 484px;
    }

    .footer__form-text {
        max-width: 484px;
        padding: 19px 24px;
        margin-bottom: 22px;
    }

    .footer__form-btn {
        min-width: 241px;
        padding: 19px 38px;
    }

    .footer__form-chek-wrap {
        padding-left: 0;
    }

    .footer__form_chek-box { 
        margin-left: 15px;
    }

    .footer__form-chek-text { margin-left: 32px;}
}


@media (max-width: 992px) {
    .proect__description {
        width: auto;
    }
    
    .proect__form {
        padding: 20px 0 58px 45px;
    }

    .proect__btn {
        min-width: none;
        font-size: 20px;
    }

    .about__advantages_wrap-description {
        padding: 15px 40px 92px 315px;
    }

    .faq__list_item-description {
        line-height: 23px;
    }

    .footer__form_wrap {
        flex-direction: column;
    }

    .footer__form-chek-wrap {
        margin-top: 20px;
    }
}


@media (max-width: 769px)
{
    .container {
        /* max-width: 768px; */
        padding: 0;
    }

    .header {
        /* max-width: 768px; */
        max-height: 71px;
    }

    .header__wrap {
        padding: 0 50px;
    }

    .logo__img {
        display: inline-block;
        width: 150px;
        height: 47.35px;
        padding: 11px 5px 11.65px 0;
    }

    /* .proect {
        min-height: 699px;
    } */

    .proect__subtitle {
        padding: 191px 2px 0 49px;
        font-size: 52px;
    }

    .proect__description {
        width: auto;
        padding: 10px 0 0 49px;
    }

    .proect__btn {
        min-width: 287px;
        margin-left: 3px;
        margin-top: 5px;
        padding: 25.5px 38px;
    }

    .about__subtitle {
        padding: 58px 50px 15px;
    }

    .about__description {
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 12px;
    }

    .about__advantages {
        padding-top: 56px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .about__advantages_item {
        /* min-width: none; */
        min-height: 640px;
        background-position: 50% 50%;
    }

    .about__advantages-one {
        padding-right: 2px;
    }

    .about__advantages_wrap {
        padding-top: 44px;
        margin-top: 0;
    }

    .about__advantages_item-wrap {
        padding-top: 476px;
    }

    .about__advantages_description {
        padding: 25px 50px 25px 28px;
        line-height: 31px;
    }

    .about__link {
        margin-top: 13px;
        margin-right: 29px;
    }

    .about__advantages_wrap-description {
        padding: 39px 29px 38px 178px;
    }
    .about__advantages_wrap-block1 {
        background-size: 18%;
        background-position: 28px 69px;
    }

    .about__advantages_wrap-block2 {
        background-size: 18%;
        background-position: 30px 68px;
    }

    .container__work {
        padding-left: 44px;
        padding-right: 50px;
    }

    .work {
        padding-top: 59px;
    }

    .work__list {
        padding-top: 53px;
    }

    .work__list_item {
        margin-right: 152px;
    }

    .work__wrap {
        flex-direction: column-reverse;
        padding-top: 43px;
    }

    .work__img {
        min-height: 284px;
        padding-top: 0;
        margin: 0;
    }

    .work__wrap_decription {
        padding-top: 17px;
    }

    .work__description {
        max-width: 100%;
        padding-top: 6px;
        padding-left: 4px;
    }

    .work__button_wrap  {
        text-align: left;
    }

    .faq__list {
        padding-top: 43px;
        padding-right: 50px;
    }

    .container__faq {
        width: 100%;
        padding-left: 50px;
    }

    .faq__subtitle {
        padding-top: 56px;
    }

    .faq__list_img {
        flex: none;
    }

    .faq__list_item-text {
        line-height: 25px;
        padding-right: 50px;
    }

    .faq__list_item-description{
        font-size: 12px;
        line-height: 20px;
    }

    .faq__list_item-list {
        padding-top: 32px;
        padding-bottom: 40px;
    }

    .footer {
        margin-top: 50px;
    }

    .footer__wrap {
        flex-direction: column-reverse;
        padding-top: 49px;
    }

    .footer__feedback {
        margin-left: 0;
        padding-left: 50px;
    }

    .footer__list {
        display: none;
    }

    .footer__link {
        padding-left: 50px;
        padding-top: 58px;
    }
    .footer__social {
        padding-top: 0;
        margin-top: 12px;
    }

    .footer__form_wrap {
        flex-direction: row;
    }

    .footer__form-chek-wrap {
        margin-top: 0;
    }

    .footer__form_chek-box {
        margin-left: 8px;
    }

    .footer__form-chek-text {
        margin-left: 29px;
    }
}

@media (max-width: 710px){
    .work__list_item {
        margin-right: auto;
    }

    .proect__description {width: auto;}
}

@media (max-width: 600px) {
    .proect__subtitle {
        text-align: center;
        padding: 191px 10px 0px 25px;
        font-size: 32px;
        line-height: 60px;
    }
    .proect__description {
        text-align: center;
        padding: 10px 10px 0 25px;
        font-size: 18px;
        line-height: 36px;
    }

    .proect__btn {
        min-width: 250px;
        padding: 20px 32px;
    }
    .proect__form {
        padding: 95px 0 110px 135px;
    }

    .about__advantages_wrap-item {
        max-height: none;
    }

    .faq__list_item-description {
        font-size: 14px;
        line-height: 16px;
    }

    .footer__feedback {
        padding-left: 0;
    }
}


@media (max-width: 575px) {
    .header {
        max-height: 45px;
    }
    
    .header__btn {
        display: none;
    }

    .header__wrap {
        flex-direction: row-reverse;
        padding: 0;
    }

    .header__menu.is_active {
        padding: 25px 40px 50px 25px;
    }

    .logo {
        margin-right: auto;
    }

    .logo__img {
        width: 97px;
        height: 31px;
        padding: 8px 0 2px 0;
    }

    .burger {
        width: 25px;
        height: 19px;
    }

    .burger__item {
        width: 25px;
    }

    .container {
        padding: 0 15px;
    }


    .proect {
        min-height: auto;
    }

    .proect__subtitle {
        padding: 33px 21px 8px 22px;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        font-weight: 800;
    }

    .proect__description {
        width: auto;
        padding: 0 23px 34px 24px;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
    }

    .proect__form {
        padding: 0 64px 40px 64px;
    }

    .proect__btn {
        min-width: auto;
        padding: 10px 10px 10px 10px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 700;
    }

    .about__subtitle {
        padding: 39px 0 0 0;
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
    }

    .about__description{
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    }

    .about__advantages {
        padding-top: 12px;
        padding-left: 0;
        padding-right: 0;
    }

    .about__advantages_item {
        min-height: auto;
        background-image: url(../img/rectangle2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
    }

    .about__advantages_item-wrap {
        padding-top: 201px;
    }

    .about__advantages_wrap {
        padding-top: 0;
    }

    .about__advantages-one {
        flex-direction: column;
        background: #FFFFFF;
    }

    .about__advantages_description {
        padding: 7px 0 0 0;
        font-size: 14px;
        line-height: 28px;
        font-weight: 500;
        color: #333333;
    }

    .about__link {
        padding: 8px 42px 13px 41px;
        margin-right: 12px;
        margin-right: auto;
        font-size: 12px;
        line-height: 15px;
        font-weight: 900;
        color: #FF9900;
    }

    .about__advantages_wrap-item {
        max-height: none;
        margin-bottom: 17px;
        border: none;
    }

    .about__advantages_wrap-block1 {
        background-size: 21%;
        background-position: 2px 40px;
        padding-top: 100px;
    }

    .about__advantages_wrap-block2 {
        background-size: 20%;
        background-position: 3px 7px;
        padding-top: 74px;
    }
    
    .about__advantages_wrap-description {
        max-width: none;
        padding: 0;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    }

    .about__advantages_wrap-head {
        display: inline-block;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }

    .work {
        padding-top: 0;
    }

    .work__subtitle {
        padding-top: 46px;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
    }

    .work__list {
        padding-top: 31px;
    }

    .work__wrap {
        padding-top: 16px;
    }

    .work__list_item {
        margin-right: auto;
    }

    .work__list_btn-step {
        font-size: 14px;
        line-height: 17px;
    }

    .work__wrap_subtitle {
        padding-top: 0;
        font-size: 18px;
        line-height: 32px;
        font-weight: 500;
    }

    .work__img {
        min-height: auto;
        padding-top: 160px;
        background-image: url(../img/rectangle181.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .work__img2 {
        min-height: auto;
        padding-top: 160px;
        background-image: url(../img/work__img2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .work__img3 {
        min-height: auto;
        padding-top: 160px;
        background-image: url(../img/work__img3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .work__img4 {
        min-height: auto;
        padding-top: 160px;
        background-image: url(../img/work__img4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .work__wrap_decription {
        padding-top: 7px;
    }

    .work__wrap_subtitle {
        padding-left: 0;
    }

    .work__description {
        padding-left: 0;
        padding-top: 0;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    }

    .work__button_wrap {
        padding: 25px 0 0 0;
    }

    .work__btn {
        padding: 11px 42px 14px 44px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 900;
    }

    .work__link {
        padding: 11px 31px 12px 31px;
        margin-left: 7px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: #333333;
    }

    .faq__subtitle {
        padding-top: 39px;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
    }

    .faq__list {
        padding-right: 0;
        padding-top: 13px;
    }

    .faq__list_item-list {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .faq__list_item-text {
        padding-right: 34px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }

    .faq__list_img {
        width: 30px;
        height: 30px;
        background-size: 50%;
    }

    .footer {
        margin-top: 14px;
    }

    .footer__wrap {
        padding-top: 30px;
    }

    .footer__form-item {
        padding: 12px 21px;
    }

    .footer-subtitle {
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
    }

    .footer__feedback {
        padding-left: 0;
    }

    .footer__form_wrap {
        flex-direction: column;
    }

    .footer__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        padding-left: 0;
        padding-top: 0;
    }

    .footer__logo {
        /* padding-top: 45px; */
    }

    ::placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        color: white;
    }

    .footer__form-text {
        margin-bottom: 21px;
    }

    .footer__form-btn {
        min-width: auto;
        padding: 10px 26px 14px 29px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 900;
    }

    .footer__form-chek-wrap {
        padding-top: 13px;
    }

    .footer__form-chek:checked + .footer__form_chek-box {
        width: 10px;
        height: 10px;
        margin-left: 0;
        transform: translateY(7px);
    }
        

    .footer__form-chek-text {
        margin-left: 20px;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .logo__footer {
        width: 131px;
        height: 42px;
        padding-top: 48px;
    }

    .footer__social {
        min-width: 135px;
        margin-right: 0;
        margin-top: 13px;
    }

    .footer__social_icon-fb {
        width: 35px;
        height: 35px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .footer__social_icon-wk {
        width: 35px;
        height: 35px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .footer__social_icon-inst {
        width: 35px;
        height: 35px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

   
}   


